<tr {{ action 'highLight' on='mouseEnter'}} {{ action 'unLight' on='mouseLeave'}}>

    <td style="vertical-align: middle;">
        {{round-2dp area.unitArea}}
    </td>

    <td>
        <select onchange={{action 'editUnit' on='change' value="target.value"}} class="form-control" value={{area.unit}}>
            <option value="s_mm">Square Millimetres</option>
            <option value="s_cm">Square Centimetres</option>
            <option value="s_in">Square Inches</option>
            <option value="s_ft">Square Foot</option>
            <option value="s_yd">Square Yards</option>
            <option value="s_m">Square Metres</option>
        </select>
    </td>

    <td class="text-right">
        <button  {{action 'deleteRecord' on='click'}} class="btn btn-danger-outline">
            x
        </button>
    </td>
</tr>